* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "微软雅黑";
}

html,
body {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	list-style: none;
}

.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.fl {
	float: left;
}

.fr {
	float: right;
}