.swiper-container {
			    width: 1190px;
			    height: 400px;
			}
			#Slide1{
				background: url(../img/bg4.jpg);
			}
			#Slide2{
				background: url(../img/bg5.jpg);
			}
			#Slide3{
				background: url(../img/bg6.jpg);
			}
			#Slide4{
				background: url(../img/bg7.jpg);
			}
			#Slide5{
				background: url(../img/bg8.jpg);
			}
			#Slide6{
				background: url(../img/bg14.jpg);
			}
			#Slide7{
				background: url(../img/bg15.jpg);
			}
			#Slide8{
				background: url(../img/bg16.jpg);
			}
			#Slide9{
				background: url(../img/bg23.jpg);
			}
			#Slide10{
				background: url(../img/bg24.jpg);
			}
			#Slide11{
				background: url(../img/bg25.jpg);
			}
			#Slide12{
				background: url(../img/bg35.jpg);
			}
			#Slide13{
				background: url(../img/bg36.jpg);
			}
			#Slide14{
				background: url(../img/bg37.jpg);
			}